html,
body {
	background-color: #000;
}

body {
	margin: 0;
}

canvas {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
}

div {
	color: white;
	position: relative;
	z-index: 1;
}

.hidden {
	display: none;
}
header {
	position: relative;
	z-index: 1;
}
.optionsBtn {
	position: fixed;
}

.seeThrough {
	opacity: 0.35;
}

.mostlyOpaque {
	opacity: 0.9;
}
